@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$primary: #7B6FF1;
$secondary: #F2F2F2;

/*
*  font:
*/
$font-primary-color: #222;
$font-primary: "PT Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;

$border: 2px solid $primary;
$border-radius: 3px;