@import "variables";

* {
  font-family: $font-primary;
}

.main-menu.menu-light .navigation > li.active > a {
  background: $primary;
  box-shadow: none;
  color: $font-primary;
  font-weight: normal;
  border-radius: $border-radius;
}

.card {
  border-radius: 0;
}

.btn {
  border-radius: $border-radius;
}

.pagination .page-item.active .page-link {
  background-color: $primary;
}

.btn-primary,
.btn-primary:disabled {
  background-color: $primary;
  color: $font-primary-color;
}

.btn-outline-primary {
  border: $border;
  color: $font-primary-color;
}

.btn-primary:focus, .btn-outline-primary:focus {
  background-color: $primary !important;
  color: $font-primary-color !important;
  border-color: $primary !important;
}

.btn-outline-primary:hover {
  border-color: $primary;
  color: $font-primary-color;
  background-color: $primary;
}

.border {
  border-width: 2px !important;
}

.border-primary {
  border-color: $primary !important;
}

.btn-outline-secondary {
  background-color: #ffffff;
  border: 2px solid $font-primary-color !important;
  color: $font-primary-color;
}

.font-secondary {
  color: #333333;
}

.text-center {
  text-align: center !important;
}

.progress-bar {
  background-color: $primary;
}

.btn-outline-secondary:hover {
  background-color: $secondary;
}

.btn-sm {
  font-size: 12px;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.main-menu.menu-light .navigation > li > a {
  border: $border;
}

.form-control {
  border-radius: $border-radius;
}

.form-control:focus ~ .form-control-position i {
  color: $primary;
}

.form-label-group > input:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label {
  font-size: 1rem;
}

.form-label-group > input:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label {
  padding: 0;
}

.form-label-group > input:focus:not(:placeholder-shown) ~ label, .form-label-group > input:not(:active):not(:placeholder-shown) ~ label, .form-label-group textarea:focus:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:active):not(:placeholder-shown) ~ label {
  color: $font-primary-color !important;
}

.main-menu.menu-light .navigation > li > a:hover {
  background-color: $primary;
}

.bg-authentication .login-footer {
  padding: 0 1.5rem 0.5rem;
}

.bg-authentication .login-footer .footer-btn .btn {
  padding: 0.9rem 1.2rem !important;
  margin: 1rem 1rem 1rem 0;
}

.main-menu.menu-light .navigation > li.active > a {
  background: linear-gradient(118deg, $primary, rgba(123, 111, 241, 0.68));
  box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
  color: #ffffff;
}

.form-control:focus {
  border-color: $primary;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .bg-authentication {
    width: 100%;
  }
}