// Colors
$primary: #7B6FF1;
$bootstrap-primary: #4273FA;
$danger: #FE3F61;
$success: #60CF7D;
$warning: #F5BE30;
$mutedText: #b9c8de;

$sidebar-bg: #485779;
$sidebar-nav-link-active-bg: #3c4865;
$sidebar-nav-link-active-icon-color: white;
$pagination-hover-bg: #F7F7F7;
